body{
    background-color: #FBEFF4;
    background-image: url("imagen/backgroundfree.jpg");
    margin:0;
    width:100%;
}

div.header {
    background-color:salmon;
    width:1213;
    height:100px;
    padding:10px;
    margin:0 auto;
    text-align: center;

}
#menu ul {
    list-style: none;
    margin:0;
    padding:0;

}
#menu li {
    font-family: 'Oswald';
    float:left;
}
#menu  a {
    color: white;
    display:block;
    padding: 12px 26px;
    font-family: 'Oswald', sans-serif;
    font-size:18px;
}
#menu {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f1e767+0,feb645+100;Yellow+3D */
background: #f1e767; /* Old browsers */
background: -moz-linear-gradient(top,  #f1e767 0%, #feb645 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f1e767 0%,#feb645 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f1e767 0%,#feb645 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 ); /* IE6-9 */
    width: 100%;
    height: 52px;
}
div.post{
    border-bottom:3px  dashed rgb(10,000,20);
    border-right:3px dashed black;
    background-color:purple;
    width:897px;
    font-size:23px;
    margin-left: 8px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
    text-align:justify;
}
ul.post-fecha li {
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    font-weight: bold;
    list-style: none;
    text-align: right;
    padding-top: 5px;
}
h2#post-titulo{
    font-size: 25px;
}

div.sidebar {
    float:right;
    width:278px;
    height: 150px

}
div.sidebarcontent{
    background-color:sandybrown;
    border: 1px solid green;
    height: 150px;
    padding: 7px;
}

div.body2{
    background-color:black;
    width:1213px;
    margin:0 auto;
    padding-bottom: 10px;
    word-wrap:break-word;
}
#footer{
    color: white;
    background-color: darkslategrey;
    padding: 2px;
    text-align: center;
    width:1050;
    height: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#mensaje-especial {
    background-color: #FC6D45;
    width:1193p;
    margin:auto;
    padding:10px;
}

p#escrito-por{
    color: goldenrod;
    font-weight: bolder;
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;

    

}

/* fuentes */
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
/* fuentes */
